<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<<<<<<< HEAD
=======
  <link rel="stylesheet" href="/style.css">
>>>>>>> efa6fa2d0e1ed9938423e5e6a6005c83475c280a
  <title>Login</title>
</head>
<body>
  <nav>
     <!-- NAVBAR -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Bus List</a></li>
    <li><a href="#">Our Company</a></li>
  </ul>
<<<<<<< HEAD
=======

  <!-- FORM -->
  
>>>>>>> efa6fa2d0e1ed9938423e5e6a6005c83475c280a
  </nav>
</body>
</html>