<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/register.css">
  <title>Home</title>
</head>

<body>
  <nav>
    <!-- NAVBAR -->
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/user/passengers">Passenger List</a></li>
      <li><a href="/user/register">Sign Up</a></li>
      <li><a href="/user/login">Sign In</a></li>
      <li><a href="/user/logout">Log Out</a></li>
    </ul>
  </nav>

    <!-- REGISTER FORM -->
    <div class="register-form">
      <h2>Register</h2>
      <form action="/user/register" method="post">
        <div class="form-group">
          <label for="username">Username:</label>
          <input type="text" id="username" name="username" required>
        </div>
        <div class="form-group">
          <label for="password">Password:</label>
          <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
          <label for="role">Role:</label>
          <select id="role" name="role" required>
            <option value="user">User</option>
            <option value="admin">Admin</option>
          </select>
        </div>
        
        <button type="submit">Register</button>
      </form>
    </div>


  </nav>
</body>

</html>