<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/style.css">
  <title>User Profile</title>
</head>
<body>
  <nav>
     <!-- NAVBAR -->
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="#">Bus List</a></li>
    <li><a href="#">Our Company</a></li>
  </ul>

  <!-- FORM -->
  
  </nav>
</body>
</html>