ul {
  list-style-type: none;
  font-size: 1.5vw;
  margin: 7px;
  padding: 3px;
  overflow: hidden;
  background-color: teal;
  border-radius: 7px;
}

li {
  float: left;
  border-right: solid white;
  border-top: px solid rgb(1, 113, 113);
  border-bottom: px solid rgb(1, 113, 113);
  border-radius: 7px;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(0, 98, 128);
  border-radius: 7px;
}